:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

header {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
button {
  transition: all 0.5s;
}

@media (max-width: 1160px) {
  header {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }

  main {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
}

@media (max-width: 375px) {
  header {
    width: 343px;
    margin: 0 auto;
    padding: 0 16px;
  }

  main {
    width: 343px;
    margin: 0 auto;
    padding: 0 16px;
  }
}
